
.primeirotitulo{
	text-align: center;
}
.americaimagem{
	text-align: center;
}
.prof1{
	text-align: center;
}

.divImagem{
	text-align: center;
}


.table1{
  margin-left: auto;
  margin-right: auto;

}

.prof2{
	text-align: center;
}

.divImagem2{
	text-align: center;
}

.table2{
	margin-right: auto;
	margin-left: auto;
}

.prof3{
	text-align: center;
}

.coor3{
	text-align: center;
}

.table3{
	margin-right: auto;
	margin-left: auto;
}

.prof4{
	text-align: center;
}

.coor4{
	text-align: center;
}

.table4{
	margin-right: auto;
	margin-left: auto;
}